/* Add this CSS to make your modal beautiful */
.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .custom-form {
    /* Add your custom CSS styles here */
    margin-bottom: 20px;
  }
  
  .custom-form label {
    font-weight: bold;
    color: #333;
  }
  
  .custom-form input[type="number"] {
    width: 100px; /* Adjust the width as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    color: #333;
  }
  
  /* Custom styling for input when it's in focus */
  .custom-form input[type="number"]:focus {
    border-color: #007BFF; /* Change the border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle box shadow */
  }
  
  
  .modal {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .modal-content {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 600px;
    width: 80%;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .btn-link {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #007bff;
  }
  
  .btn-link:hover {
    text-decoration: underline;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  textarea,
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  
  label {
    font-size: 18px;
  }
  
  .input-group {
    margin-top: 10px;
  }
  
  input[type="radio"] {
    margin-right: 10px;
  }
  
  .btn-success {
    background-color: #28a745;
    color: #fff;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: #fff;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-primary:hover,
  .btn-success:hover,
  .btn-danger:hover {
    filter: brightness(1.2);
  }
  
  .float-right {
    float: right;
  }
  