.navbar {
  position: fixed;
  top: 15%;
  left: 2%;
  width: 10vw;
  /* Adjust the width as needed */
  height: 70vh;
  /* Full height */
}

.dashboard-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  /* Vertically center the content */
  left: 48%;
  /* Horizontally center the content */
  transform: translate(-50%, -50%);
  /* Center the content both horizontally and vertically */
  right: 0;
  bottom: 0;
  padding: 20px;
  padding-left: 10%;
  padding-right: 5%;
  width: 83vw;
  height: 90vh;
}

.dashboard-title {
  top: 2%;
  color: #d59500d6;
  font-size: 700%;
  text-align: center;
}

.nav-buttons-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #f763be;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.235);
  border: 1px solid #97005d;
}

.nav-button.active {
  background-color: #f763be;
  transform: scale(1.05);
}

.nav-button:hover {
  background-color: #f40398;
  color: #ffffff;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}