/* Centered Container */
.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw;
    background-image: url('/public/images/lbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    border-radius: 3%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.167);
}

/* Leaderboard Container */
.leaderboard-container {
    height: 50vh;
    width: 45vw;
    padding: 20px;
    border-radius: 10px; /* Add border-radius to create rounded corners */
    overflow-y: auto;
}

/* Leaderboard Title */
.leaderboard-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

/* Leaderboard Table */
.leaderboard-table {
    width: 100%;
    /* border-collapse: collapse; */
}

.leaderboard-table th,
.leaderboard-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.leaderboard-table th {
    background-color: rgb(30, 5, 106);
    color: #fff;
}

/* 3D Effect for Rows with Gap */
.leaderboard-table tbody tr {
    background-color: rgb(248, 248, 185);
    border-radius: 10px; /* Add border-radius to create rounded rows */
    border: 10px solid rgb(248, 248, 185);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4); /* Enhance the shadow */
    transform: translateY(0); /* Remove translateY for the initial appearance */
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s; /* Transition for effects */
    margin-bottom: 10px;
}

.leaderboard-table tbody tr:hover {
    transform: translateY(-5px);
    background-color: #fff;
    border: 10px solid rgb(255, 255, 255);
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.5); /* Add a stronger shadow on hover */
}
