:root {
  --border-color: #291D4D;
  --dialog-background: #FFF3B4;

  --menu-background: #FFE8D2;
  --menu-border-color: #A48465;
  --menu-font-color: #3A160D;
  --menu-selected-background: #7fc2ff;
}

* {
  box-sizing: border-box;
}

body {
  background: #333;
  padding: 0;
  margin: 0;
  overflow: hidden; /* Allow the game to take up the full viewport */
}

.game-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0; /* Remove any margin */
  padding: 0; /* Remove any padding */
  outline: none; /* Remove the outline (for accessibility) */

  /* Optional: To center the canvas horizontally and vertically, you can use flexbox. */
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.283); */
}

.game-container canvas {
  image-rendering: pixelated;
  width: 100%; /* Ensure the canvas doesn't exceed the viewport width */
  height: 100vh; /* Ensure the canvas doesn't exceed the viewport height */
  
}

canvas{
  position: absolute;
  top: 0;
}